services:
  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  app:
    build: .
    container_name: user-node-app
    command: npm run dev:server
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - dynamodb-local
